/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

body {
    font-family: Mitr, sans-serif;
}

.card,
.dropdown-menu,
.form-control {
    border-radius: 0px;
}

.input-group-text {
    color: #FFFFFF;
    background-color: #8A89A8;
}

#products-table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #6460a7;
    color: white;
}

#products-table {
    border-collapse: collapse;
    width: 100%;
}

#products-table td,
#products-table th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

#products-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#products-table tr:hover {
    background-color: #ddd;
}